@using TimeGallery.Helper
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    @Styles.Render("~/Content/css")
    @*<link ref="stylesheet" href="//res.wx.qq.com/open/libs/weui/0.4.2/weui.min.css">*@
    <title>@{
               if (!ViewData.ContainsKey("Title"))
               {
                   @ConfigHelper.WebTitle
               }
               else
               {
                   @ViewBag.Title
               }
           }</title>
</head>
<body>
<div id="container" class="container body-content">
    <div>
        @RenderBody()
        <hr/>
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - @ConfigHelper.WebTitle</p>
            <p class="text-center">记录美妙时光</p>
        </footer>
    </div>
</div>
<div class="weui_toptips weui_warn js_tooltips">警告</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/site.js")
@RenderSection("scripts", required: false)
</body>
</html>
