@model IEnumerable<TimeGallery.Models.ContentWrapperModel>

@using System.Web.UI.HtmlControls
@using TimeGallery.Enum
@using TimeGallery.Helper
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    <title>@ConfigHelper.WebTitle</title>
</head>
<body>
<div>
    <h1>裴裴时光轴</h1>
    <ul>
        @{
            foreach (var contentWrapper in Model)
            {
                <li>
                    <span class="timetitle" data-datetime="@contentWrapper.DateTime">@contentWrapper.DateTime</span>
                    <ul>
                        @{
                            foreach (var content in contentWrapper.Contents)
                            {
                                if (content.Type == ContentTypeDefine.Image.GetString())
                                {
                                    <li>
                                        <img src="@content.Url" alt="@content.Description" data-datetime="@content.CreateTime" />
                                    </li>
                                }
                            }
                        }
                    </ul>
                </li>
            }
        }
    </ul>

    <div>
        @Html.ActionLink("上传", "Upload")
    </div>
</div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>